/* CSS files add styling rules to your content */

body {
  font-family: "Yanone Kaffeesatz";
  background: hsl(185, 100%, 95%);
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  color: hsl(16, 100%, 65%);
}

p {
  font-weight: 500;
  font-size: 20px;
  color: hsl(16, 100%, 80%);
  margin: -20px;
}


#canvas-div {
  padding: 0;
  margin: auto;
  display: block;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
