/* CSS files add styling rules to your content */
body {
  font-family: "Yanone Kaffeesatz";
  background: hsl(185, 100%, 95%);
}
#canvas-div {
  padding: 0;
  margin: auto;
  display: block;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
